<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/test.css">
    <style>
        main.table2{
            margin-top: 100px;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100" id="body">
    <header class="row cabecera">
    
        <nav class="navbar navbar-expand-lg p-6">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#"><img src="../images/joya.png" alt="logo" style="width: 35px; height: 35px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-1"></div>
                <div class="collapse navbar-collapse ps-4" id="navbarNav">
                    <ul class="navbar-nav col-12">
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="indexAdministrador.html">Inicio</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="insertarUsuarios.html">Añadir Usuario</a>
                                <a class="dropdown-item" href="consultarUsuarios.html">Consultar Usuarios</a>
                            </div>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Roles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="insertarRol.html">Añadir Rol</a>
                                <a class="dropdown-item" href="eliminarRol.html">Eliminar Rol</a>
                            </div>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Componentes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <a class="dropdown-item" href="insertarComponente.html">Añadir Componente</a>
                                <a class="dropdown-item" href="consultarComponente.html">Consultar Componentes</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="table2">
        <section class="table__header">
            <h1 style="font-size: larger;">Usuarios</h1>
            <button class="status shipped"><a href="./insertarUsuarios.html" >Crear nuevo usuario</a></button>
        </section>
        <section class="table__body">
            <table class="">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="data">

                </tbody>
            </table>
        </section>
    </main>
    <div class="flex-grow-1"></div>

    <div id="myModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">¿Quieres modificar tu usuario?</h5>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-group">
                        <label for="txtnombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtnombre" name="nombre">
                        <p id="mensajeNombre"></p>
                    </div>
                    <div class="form-group">
                        <label for="txtemail">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="txtemail" name="email">
                        <p id="mensajeCorreo"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button"  id="btnGuardar" class="btn btn-primary">Guardar Cambios</button>
              <button type="button" class="btn btn-secondary" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

    <footer class="text-dark text-center py-3 mt-5 d-flex justify-content-between cabecera">
        <p>&copy; 2023 Manuel & Oscar. Todos los derechos reservados.</p>
        <p>LOPD</p>
        <p>Cookies</p>
        <p>Política de privacidad</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="module" src="../js/consultarUsuarios.js"></script>
    <!--<script src="../../../dist/consultarUsuarios.bundle.js"></script>-->
</body>
</html>
