<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
    <link rel="stylesheet" href="../css/test.css">
</head>
<body>
    <header class="row">
   
        <nav class="navbar navbar-expand-lg p-6">
            <div class="container-fluid justify-content-center">
                <a style="margin-left: 20px;" class="navbar-brand " href="../views/redirect.html"><img class="foto" src="../images/joya.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-1"></div>
                <div class="collapse navbar-collapse ps-4" id="navbarNav">
                    <ul class="navbar-nav col-12">
                      
                    
                        <li class="nav-item">
                            <a class="nav-link" href="./indexClasificador.html">Lotes sin clasificar</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="./lotesClasificados.html">Lotes clasificados</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="./componentesClasificados.html">Componentes clasificados</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="./clasificadorCrearTipo.html">Crear Tipo</a>
                        </li>
                        <div class="col-1"></div>
                       
                        <a class="nav-link divFoto " href="./perfil.html"><img class='foto' src="../images/alien.jpg"></a>
                     
                     
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   
    <div class="container">
        <main class="table2">
            <section class="table__header">
                <h4>Despiece del Lote</h4>
            </section>
            <section class="table__body">
                <table>
                   
                    <thead id="">
                        <tr>
                            <th> Descipcion</th>
                            <th> Tipo </th>
                            <th> Cantidad</th>
                        </tr>
                    </thead>
                   
                    <tbody id="tabla_despiece">
    
                    </tbody>
                   
                </table>
            </section>
        </main>
    </div>
    </body>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
        
        <script src="../../../dist/appDespieceLote.bundle.js"></script>
</html>