<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /*temporal*/
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex; 
        }
    
        nav li {
            margin-right: 10px; 
        }
    
        nav a {
            text-decoration: none;
            color: black;
            
        }
    </style>
</head>
<body>
    <nav><ul>
        <li><a href="./listaJoyas.html">Joyas</a></li>
        <li><a href="./listaJoyasUsuario.html">Tus Joyas</a></li>
        <li><a href="./designJoya.html">Nueva Joya</a></li>
        <li><a href="./fabricarJoyas.html">Fabricar</a></li>
        <li><a href="./historialJoyas.html">Historial</a></li>
    </ul></nav>
    Filtrar
    <select id="opciones-filtrado">
        <option value="1" selected>ID Joya</option>
        <option value="2">ID Usuario</option>
        <option value="3">Fecha</option>
    </select>
    <input type="number" min="1" id="barra_busqueda" placeholder="Buscar">
    <input id="filtro-fecha" style="display: none;" type="date">
    <table>
        <caption>Historial</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Id Joya</th>
                <th>Usuario </th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody id="tabla-alerta" style="display: none;">
            <tr><td></td></tr>
            <tr><td colspan="4">No se han encontrado resultados</td></tr>
        </tbody>
        <tbody id="tabla_historial">

        </tbody>
    </table>
    <script src="../../../dist/appHistorialJoyas.bundle.js"></script>
</body>
</html>