<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h4>Inicio</h4>
    <table>
        <caption>Lotes sin clasificar</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Empresa</th>
                
            </tr>
        </thead>
        <tbody id="tabla_lotes">
        </tbody>
    </table>
    
    <script src="../../../dist/appClasificador.bundle.js"></script>
</body>
</html>