<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body class="d-flex flex-column min-vh-100" id="body">
    <header class="row bg-warning row-warning">
   
        <nav class="navbar navbar-expand-lg p-6">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#"><img src="../images/joya.png" alt="logo" style="width: 35px; height: 35px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-1"></div>
                <div class="collapse navbar-collapse ps-4" id="navbarNav">
                    <ul class="navbar-nav col-12">
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="administradorDashboard.html">Inicio</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Añadir Usuario</a>
                                <a class="dropdown-item" href="#">Eliminar Usuario</a>
                            </div>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Roles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Añadir Rol</a>
                                <a class="dropdown-item" href="#">Eliminar Rol</a>
                            </div>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Componentes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Añadir Componente</a>
                                <a class="dropdown-item" href="#">Consultar Componentes</a>
                                <a class="dropdown-item" href="#">Modificar Componente</a>
                                <a class="dropdown-item" href="#">Eliminar Componente</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

      
      <div class="container mt-5">
        <h2>Usuarios</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Inserción de usuarios</h5>
                <p class="card-text">En esta seccion podras añadir un nuevo usuario</p>
                <a href="#" class="btn btn-primary">Añadir Usuario</a>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Eliminacion de usuarios</h5>
                <p class="card-text">En esta seccion podras eliminar un usuario</p>
                <a href="#" class="btn btn-primary">Eliminar Usuario</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <br>

      <div class="container mt-5">
        <h2>Roles</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Añadir Rol</h5>
                <p class="card-text">En esta seccion podras añadir nuevos roles a tus usuarios</p>
                <a href="#" class="btn btn-primary">Añadir nuevo rol</a>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Eliminar Roles</h5>
                <p class="card-text">En esta seccion podras eliminar roles a tus usuarios</p>
                <a href="#" class="btn btn-primary">Eliminar rol</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="container mt-5">
        <h2>Componentes</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Añadir componente</h5>
                <p class="card-text">En esta seccion podras añadir un nuevo componete</p>
                <a href="#" class="btn btn-primary">Añadir componente</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Visualizar Componentes</h5>
                <p class="card-text">En esta sección podras ver tus componentes</p>
                <a href="#" class="btn btn-primary">Ver componentes</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Modificar Componente</h5>
                <p class="card-text">En esta seccion podras modificar tus componentes</p>
                <a href="#" class="btn btn-primary">Modificar componente</a>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Eliminar componente</h5>
                <p class="card-text">En esta seccion podras eliminar tus componentes</p>
                <a href="#" class="btn btn-primary">Eliminar componentes</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="bg-warning text-dark text-center py-3 mt-5 d-flex justify-content-between">
        <p>&copy; 2023 Manuel & Oscar. Todos los derechos reservados.</p>
        <p>LOPD</p>
        <p>Cookies</p>
        <p>Politica de privacidad</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="js/tema.js"></script>

</body>
</html>