<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/test.css">
    <style>
        /* Estilo adicional para aumentar el tamaño de la fuente y el espacio interno del formulario */
        form {
            font-size: 16px;
        }

        form.formulario {
            font-size: 16px;
            margin: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        button {
            font-size: 18px;
        }

        body{
            background-color: #fafafa;
            overflow: hidden;
        }
        .cabezera {
    position: relative;
    z-index: 1000;
}

.container {
    position: relative;
    z-index: 1; 
}
    </style>
</head>
<body class="d-flex flex-column min-vh-100" id="body">

    <header class="row cabezera">
    
        <nav class="navbar navbar-expand-lg p-6">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="./redirect.html"><img src="../images/joya.png" alt="Acceso a roles" style="width: 35px; height: 35px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-1"></div>
                <div class="collapse navbar-collapse ps-4" id="navbarNav">
                    <ul class="navbar-nav col-12">
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="indexAdministrador.html">Inicio</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="insertarUsuarios.html">Añadir Usuario</a>
                                <a class="dropdown-item" href="consultarUsuarios.html">Consultar Usuarios</a>
                                <a class="dropdown-item" href="peticionesUsuarios.html">Peticiones</a>
                            </div>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Roles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="insertarRol.html">Añadir Rol</a>
                                <a class="dropdown-item" href="eliminarRol.html">Eliminar Rol</a>
                            </div>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Componentes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <a class="dropdown-item" href="insertarComponente.html">Añadir Componente</a>
                                <a class="dropdown-item" href="consultarComponente.html">Consultar Componentes</a>
                            </div>
                        </li>
                        <div class="col-1"></div>
                         
                          <a class="nav-link divFoto " href="./perfil.html"><img id="fotoNav" class='foto' src="../images/alien.jpg"></a>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container mt-5 flex-grow-1" id="contenido">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card cabecera" style="margin-top: 40px;">
                    <div class="card-body">
        
                        <form method="post" class="col-md-6 formulario">
                            <div class="form-group">
                                <label for="txtnombre">Nombre</label>
                                <input type="text" class="form-control status cancelled" id="txtnombre" name="nombre" required>
                                <p id="mensajeNombre"></p>
                            </div>

                            <div class="form-group">
                                <label for="txtcantidad">Cantidad</label>
                                <input type="number" class="form-control status cancelled" id="txtcantidad" name="cantidad" required>
                            </div>

                            <br>
                            <button id="btnregistrar" class="btn status cancelled">Registrar</button>
                            <p id="mensajeBoton"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-dark text-center py-3 mt-5 cabecera">
        <div class="d-flex justify-content-around">
            <div>
                <p>&copy; 2023 Manuel & Oscar. Todos los derechos reservados.</p>
            </div>
            <div>
                <p>LOPD</p>
            </div>
            <div>
                <p>Cookies</p>
            </div>
            <div>
                <p>Política de privacidad</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="../../../dist/insertarComponentes.bundle.js"></script>
</body>
</html>
