<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Joyas</h4>
    <button><a href="./designJoya.html">Crear nueva joya</a></button>
    
    <table>
        <caption>Listado joyas</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody id="tabla_joyas">
        </tbody>
    </table>
</body>
</html>