<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
</head>
<body>
    <header class="row bg-warning row-warning">
   
        <nav class="navbar navbar-expand-lg p-6">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#"><img src="" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-1"></div>
                <div class="collapse navbar-collapse ps-4" id="navbarNav">
                    <ul class="navbar-nav col-12">
                      
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="./indexClasificador.html">Lotes sin clasificar</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="./lotesClasificados.html">Lotes clasificados</a>
                        </li>
                        <div class="col-1"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="./componentesClasificados.html">Componentes clasificados</a>
                        </li>
                     
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="text-center mb-3">
            
            <h3 id="cabecera"></h3>
            
        </div>
        <caption><h4>Introduce los componente</h4></caption>
        <table id="tabla-input" class="table">
        <thead>
            <tr>
                <th class="col-2"> ID Lote</th>
                <th class="col-2" >ID Empresa</th>
                <th class="col-2" >Ubicacion</th>
                <th class="col-2">ID Clasificador</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        
        <tbody id="tabla_lotes">
           
        </tbody>
    </table>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="../../../dist/appLotesClasificados.bundle.js"></script>
</body>
</html>