<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Receta</title>
    <style>
        /*temporal*/
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex; 
        }
    
        nav li {
            margin-right: 10px; 
        }
    
        nav a {
            text-decoration: none;
            color: black;
            
        }
    </style>
</head>
<body>
    <nav><ul>
        <li><a href="./listaJoyas.html">Joyas</a></li>
        <li><a href="./listaJoyasUsuario.html">Tus Joyas</a></li>
        <li><a href="./designJoya.html">Nueva Joya</a></li>
        <li><a href="./historialJoyas.html">Historial</a></li>
        
    </ul></nav>
    <h4>Modificar Joya</h4>
    <table>
        <caption>Nueva joya</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>foto</th>
            </tr>
        </thead>
        <tbody id="tabla_joya">
            <tr>
                <td><input id="inputNombre" type="text"></td>
                <th><input id="inputFoto" type="text"></th>
            </tr>
        </tbody>
    </table>
    <table>
        <caption>Modificar  receta para la joya</caption>
        <thead>
            <tr>
                <th>Componente necesario</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody id="tabla_receta">
            <tr>
                <td>
                    <select id="tipos-habilitados">    
                        <option id="opcion-default" value="0" disabled selected>Selecciona un tipo</option>     
                    </select>
                </td>
            
                <td><input id="inputCantidad" min=0 type="number"></td>
                <td><button id="btnNuevoElementoReceta" disabled>Añadir</button></td>
            </tr>
        </tbody>
        <tbody id="detalle-receta"></tbody>
        <tfoot><tr><td><button id="btn-guardar" disabled>Guardar cambios</button></td></tr></tfoot>
    </table>
    
    <script src="../../../dist/appModificarJoya.bundle.js"></script>
</body>
</html>