<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Joyas</h4>
    <button><a href="./designJoya.html">Crear nueva receta</a></button>
    
    <table>
        <caption>Listado joyas</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario creador</th>
                
            </tr>
        </thead>
        <tbody id="tabla_recetas">
        </tbody>
    </table>
    <script src="../../../dist/appRecetaJoya.bundle.js"></script>
</body>
</html>