<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Jawas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/test.css">
</head>
<body>
   
    <header class="row cabecera">
    
        <nav class="navbar navbar-expand-lg p-6">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#"><img src="../images/joya.png" alt="logo" style="width: 35px; height: 35px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-1"></div>
                <div class="collapse navbar-collapse ps-4" id="navbarNav">
                    
                </div>
            </div>
        </nav>
    </header>
    
    <div class="flex-grow-1">
        <h3>Pantalla de accesos</h3>
        <a href="./indexAdministrador.html">Administrador</a>
        <a href="./indexClasificador.html">Clasificador</a>
        <a href="./listaJoyas.html">Diseñador</a>
        <a href="./IndexColaborador.html">Colaborador</a>
    </div>
    
    <footer class="text-dark text-center py-3 mt-5 d-flex justify-content-between cabecera">
        <p class="mb-0">&copy; 2023 Manuel & Oscar. Todos los derechos reservados.</p>
        <p class="mb-0">LOPD</p>
        <p class="mb-0">Cookies</p>
        <p class="mb-0">Política de privacidad</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="js/tema.js"></script>
</body>
</html>
