<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
</head>
<body class="d-flex flex-column min-vh-100" id="body">

    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand text-dark" href="#">Registro de Usuarios</a>
        <div class="ml-auto">
            <input type="checkbox" id="switchFondo" data-on-text="Activado" data-off-text="Desactivado" data-toggle="toggle">
        </div>
    </nav>

    <div class="container mt-5 flex-grow-1" id="contenido">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form >
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre">
                                <p id="messageName"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo Electrónico:</label>
                                <input type="email" class="form-control" id="email" name="email">
                                <p id="messageEmail"></p>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password">
                                <p id="messagePassword"></p>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirmar Contraseña:</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirm-password">
                                <p id="messagePasswordConfirm"></p>
                            </div>
                            <p>Ya tienes cuenta, <a href="../index.html">Inicia Sesion</a></p>
                            <button id="registrarse" class="btn btn-warning mt-5">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-warning text-dark text-center py-3 mt-5 d-flex justify-content-between">
        <p>&copy; 2023 Manuel & Oscar. Todos los derechos reservados.</p>
        <p>LOPD</p>
        <p>Cookies</p>
        <p>Politica de privacidad</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="../js/tema.js"></script>
    <script src="../../dist/registro.bundle.js"></script>

</body>
</html>
